


body.home_page{
    /* background: rgb(28,29,37);
    background-color: hsl(233,13%,12%); */
    background-color: #1c1d25;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ebe5f4' fill-opacity='0.06'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    color: antiquewhite;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Josefin Sans', sans-serif;
    }

li a {
     font-size: 20px ;
}

body p{
    color: antiquewhite;
}

h3 {
  color: antiquewhite;
}

u {
    text-decoration-thickness: 1.5px;
    text-decoration-color: azure;

}

nav li{
    margin-top: 32px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

#about, #hobbies, #extracurricular{
  padding-top: 35px;
  width: 100%;
  height: 1080px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .swipe {
  position: relative;
  width: fit-content;
}
.wrapper .swipe::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  width: 0%;
  height: 100%;
  background-color: antiquewhite;
  animation: swipe 1.5s ease-out 1s forwards;
}
.wrapper .swipe--delay::after {
  background-color: antiquewhite;
  animation-delay: 1.5s;
}
.wrapper h1 {
  display: block;
  color: antiquewhite;
  font-size: 72px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  padding: 15px 25px;
  opacity: 0;
  animation: fade 0.01s ease-out 1.75s forwards;
}
.wrapper h5 {
  display: block;
  line-height: 1;
  padding: 10px 15px;
  opacity: 0;
  animation: fade 0.01s ease-out 2.25s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes swipe {
  0% {
    right: 100%;
    left: 0;
    width: 0%;
  }
  50% {
    right: 0;
    left: 0;
    width: 100%;
  }
  100% {
    right: 0;
    left: 100%;
    width: 0%;
  }
}

.disappear{
  animation: vanish 5s forwards;
}
@keyframes vanish{
  100%{
    opacity: 0;visibility: hidden;
  }
}

.frost {
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(17, 25, 40, 0);
  border-radius: 12px;
  /* border: 1px solid rgba(32, 27, 27, 0.125); */
  box-shadow:  -0.1px -0.1px 1px #000000,
             0.1px 0.1px 1px #000000;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

.scrollbar
{
  scroll-behavior: smooth;
	margin-left: 30px;
	float: left;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 450px;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #414455;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #1c1d25;
}

.link-effect::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: antiquewhite;
  transition: width .3s;

}



.link-effect:hover::after{
  width: 100%;
  transition: width .3s;
}



.hobbies-top{
  margin-top: 350px;
}

